*{
	background-color: gray;
}

.navbar {
	padding-top: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: white;
}

.navbar-nav li a {
	color: white;
}

.navbar-custom {
	background-color: gray;
} 

.headerText1 {
	font-size: 34px;
	color: white;
	position: relative;
	right: 15px;
	top: 8px;
}

.imgSearch {
	padding-left: 15px;
}

.rightHeader {
	padding-top: 10px;
}